
@model BookStoreApp.DAL.Printer

@{
    ViewData["Title"] = "Printer Details";
}

<h1>Printer Detail</h1>

<div>
    <h4>Printer Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>